@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
} 

html {
  scroll-behavior: smooth;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 16s linear infinite; /* Adjust the duration as per your need */
}
